@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@400;600;700&display=swap");
header nav {
  width: 100vw;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
}
header nav ol {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: var(--header-hight);
  list-style: none;
  justify-content: space-between;
  width: 38%;
}
header nav ol li {
  cursor: pointer;
}
header nav ol li a {
  display: block;
}
header nav ol li:first-child {
  margin-left: 0;
}
header nav ol:last-child {
  width: 42%;
  justify-content: space-around;
}
header nav a.logo {
  display: grid;
  position: absolute;
  left: calc(50% - 62px);
  height: var(--header-hight);
}

:root {
  --max-width: 107.5rem;
  --header-hight: 6.875rem;
  --intro-section-radius: 2.5rem;
}

body {
  color: #303030;
  font: 400 2rem Raleway, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > * {
  width: 100vw;
  max-width: var(--max-width);
}

.section-title, h2 {
  font-weight: 600;
  line-height: 1.5;
  font-size: 3.0625rem;
}

.section-title {
  text-align: left;
  text-transform: uppercase;
}

.section-subtitle, h3 {
  font-weight: 500;
  line-height: 1.5;
  font-size: 3.0625rem;
}

section.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./../assets/intro.webp"), rgba(0, 0, 0, 0.36);
  background-blend-mode: color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 2.21;
  border-radius: 40px;
  margin-top: var(--header-hight);
}
section.intro .intro-header {
  display: grid;
  align-content: center;
  height: 100%;
  color: #FFF;
  line-height: 1.5;
}
section.intro .intro-header h1, section.intro .intro-header h3 {
  height: fit-content;
  text-align: center;
}
section.intro .intro-header h1 {
  font-size: 5.375rem;
  font-weight: 700;
}
section.intro .intro-footer {
  width: 100%;
  padding: 2.375rem 12.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8E967;
  border-bottom-left-radius: var(--intro-section-radius);
  border-bottom-right-radius: var(--intro-section-radius);
  font-size: 1.875rem;
  line-height: 1.7;
}
section.intro .intro-footer .contact-name {
  width: fit-content;
}
section.intro .intro-footer .contact-number {
  font: 600 1.875rem Montserrat, sans-serif;
  color: #464646;
  text-decoration: none;
}

section.services {
  margin-top: 4.76rem;
}

.div-19 {
  color: #303030;
  text-align: center;
  margin-top: 94px;
  font: 600 49px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-19 {
    max-width: 100%;
    font-size: 40px;
    margin-top: 40px;
  }
}
.div-20 {
  color: #303030;
  margin-top: 39px;
  font: 400 49px/74px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-20 {
    max-width: 100%;
    font-size: 40px;
    line-height: 67px;
  }
}
.div-21 {
  margin-top: 53px;
}

@media (max-width: 991px) {
  .div-21 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-22 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-22 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-23 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-23 {
    margin-top: 22px;
  }
}
.img-3 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-24 {
  display: flex;
  margin-top: 29px;
  flex-direction: column;
  padding: 0 46px;
}

@media (max-width: 991px) {
  .div-24 {
    padding: 0 20px;
  }
}
.div-25 {
  color: #303030;
  font: 400 28px/42px Raleway, sans-serif;
}

.div-26 {
  color: #303030;
  align-self: start;
  max-width: 326px;
  margin: 23px 0 0 20px;
  font: 600 28px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-26 {
    margin-left: 10px;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-27 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-27 {
    margin-top: 20px;
  }
}
.img-4 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-28 {
  display: flex;
  margin-top: 31px;
  flex-direction: column;
  padding: 0 45px;
}

@media (max-width: 991px) {
  .div-28 {
    padding: 0 20px;
  }
}
.div-29 {
  color: #303030;
  font: 400 28px/42px Raleway, sans-serif;
}

.div-30 {
  color: #303030;
  margin-top: 23px;
  white-space: nowrap;
  font: 600 28px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-30 {
    white-space: initial;
  }
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-31 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-31 {
    margin-top: 22px;
  }
}
.img-5 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-32 {
  align-self: start;
  display: flex;
  width: 241px;
  max-width: 100%;
  flex-direction: column;
  margin: 29px 0 0 36px;
}

@media (max-width: 991px) {
  .div-32 {
    margin-left: 10px;
  }
}
.div-33 {
  color: #303030;
  font: 400 28px/42px Raleway, sans-serif;
}

.div-34 {
  color: #303030;
  margin-top: 23px;
  font: 600 28px/150% Raleway, sans-serif;
}

.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}
.div-35 {
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-35 {
    margin-top: 22px;
  }
}
.img-6 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-36 {
  color: #303030;
  align-self: start;
  max-width: 265px;
  margin: 30px 0 0 35px;
  font: 600 32px/48px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-36 {
    margin-left: 10px;
  }
}
.div-37 {
  margin-top: 61px;
}

@media (max-width: 991px) {
  .div-37 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-38 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-38 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.div-39 {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

@media (max-width: 991px) {
  .div-39 {
    margin-top: 23px;
  }
}
.img-7 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-40 {
  align-self: start;
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 36px;
}

@media (max-width: 991px) {
  .div-40 {
    margin-left: 10px;
  }
}
.div-41 {
  color: #303030;
  font: 400 32px/150% Raleway, sans-serif;
}

.div-42 {
  color: #303030;
  margin-top: 18px;
  font: 600 32px/150% Raleway, sans-serif;
}

.column-5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-5 {
    width: 100%;
  }
}
.div-43 {
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-43 {
    margin-top: 21px;
  }
}
.img-8 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-44 {
  align-self: start;
  display: flex;
  flex-direction: column;
  margin: 28px 0 0 35px;
}

@media (max-width: 991px) {
  .div-44 {
    margin-left: 10px;
  }
}
.div-45 {
  color: #303030;
  font: 400 32px/150% Raleway, sans-serif;
}

.div-46 {
  color: #303030;
  margin-top: 23px;
  font: 600 32px/150% Raleway, sans-serif;
}

.column-6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-6 {
    width: 100%;
  }
}
.div-47 {
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-47 {
    margin-top: 22px;
  }
}
.img-9 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-48 {
  color: #303030;
  align-self: start;
  width: 309px;
  margin: 31px 0 0 36px;
  font: 400 32px/48px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-48 {
    margin-left: 10px;
  }
}
.column-7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-7 {
    width: 100%;
  }
}
.div-49 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-49 {
    margin-top: 20px;
  }
}
.img-10 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-50 {
  align-self: start;
  display: flex;
  flex-direction: column;
  margin: 33px 0 0 35px;
}

@media (max-width: 991px) {
  .div-50 {
    margin-left: 10px;
  }
}
.div-51 {
  color: #303030;
  font: 400 32px/150% Raleway, sans-serif;
}

.div-52 {
  color: #303030;
  margin-top: 20px;
  font: 600 32px/150% Raleway, sans-serif;
}

.div-53 {
  margin-top: 94px;
}

@media (max-width: 991px) {
  .div-53 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-54 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-54 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.div-55 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-55 {
    margin-top: 21px;
  }
}
.img-11 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-56 {
  align-self: start;
  display: flex;
  flex-direction: column;
  margin: 31px 0 0 36px;
}

@media (max-width: 991px) {
  .div-56 {
    margin-left: 10px;
  }
}
.div-57 {
  color: #303030;
  font: 400 32px/150% Raleway, sans-serif;
}

.div-58 {
  color: #303030;
  margin-top: 23px;
  font: 600 32px/150% Raleway, sans-serif;
}

.column-8 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-8 {
    width: 100%;
  }
}
.div-59 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-59 {
    margin-top: 20px;
  }
}
.img-12 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-60 {
  display: flex;
  margin-top: 37px;
  flex-direction: column;
  padding: 0 36px;
}

@media (max-width: 991px) {
  .div-60 {
    padding: 0 20px;
  }
}
.div-61 {
  color: #303030;
  font: 400 32px/150% Raleway, sans-serif;
}

.div-62 {
  color: #303030;
  margin-top: 19px;
  white-space: nowrap;
  font: 600 32px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-62 {
    white-space: initial;
  }
}
.column-9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-9 {
    width: 100%;
  }
}
.div-63 {
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-63 {
    margin-top: 21px;
  }
}
.img-13 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-64 {
  align-self: start;
  display: flex;
  flex-direction: column;
  margin: 36px 0 0 37px;
}

@media (max-width: 991px) {
  .div-64 {
    margin-left: 10px;
  }
}
.div-65 {
  color: #303030;
  font: 400 32px/150% Raleway, sans-serif;
}

.div-66 {
  color: #303030;
  margin-top: 21px;
  font: 600 32px/150% Raleway, sans-serif;
}

.column-10 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-10 {
    width: 100%;
  }
}
.div-67 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-67 {
    margin-top: 21px;
  }
}
.img-14 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-68 {
  align-self: start;
  display: flex;
  flex-direction: column;
  margin: 36px 0 0 37px;
}

@media (max-width: 991px) {
  .div-68 {
    margin-left: 10px;
  }
}
.div-69 {
  color: #303030;
  font: 400 32px/150% Raleway, sans-serif;
}

.div-70 {
  color: #303030;
  margin-top: 33px;
  font: 600 32px/150% Raleway, sans-serif;
}

.div-71 {
  margin-top: 88px;
}

@media (max-width: 991px) {
  .div-71 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-72 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-72 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.div-73 {
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-73 {
    margin-top: 21px;
  }
}
.img-15 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-74 {
  color: #303030;
  align-self: start;
  width: 332px;
  margin: 48px 0 0 36px;
  font: 600 32px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-74 {
    margin: 40px 0 0 10px;
  }
}
.column-11 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-11 {
    width: 100%;
  }
}
.div-75 {
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-75 {
    margin-top: 20px;
  }
}
.img-16 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-76 {
  align-self: start;
  display: flex;
  flex-direction: column;
  margin: 37px 0 0 35px;
}

@media (max-width: 991px) {
  .div-76 {
    margin-left: 10px;
  }
}
.div-77 {
  color: #303030;
  white-space: nowrap;
  font: 400 32px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-77 {
    white-space: initial;
  }
}
.div-78 {
  color: #303030;
  margin-top: 21px;
  font: 600 32px/150% Raleway, sans-serif;
}

.column-12 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-12 {
    width: 100%;
  }
}
.div-79 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-79 {
    margin-top: 21px;
  }
}
.img-17 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-80 {
  align-self: start;
  display: flex;
  flex-direction: column;
  margin: 36px 0 0 37px;
}

@media (max-width: 991px) {
  .div-80 {
    margin-left: 10px;
  }
}
.div-81 {
  color: #303030;
  font: 400 32px/150% Raleway, sans-serif;
}

.div-82 {
  color: #303030;
  margin-top: 21px;
  font: 600 32px/150% Raleway, sans-serif;
}

.column-13 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-13 {
    width: 100%;
  }
}
.div-83 {
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-83 {
    margin-top: 21px;
  }
}
.img-18 {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.div-84 {
  color: #303030;
  align-self: start;
  max-width: 268px;
  margin: 36px 0 0 37px;
  font: 400 32px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-84 {
    margin-left: 10px;
  }
}
.div-85 {
  color: #303030;
  margin-top: 217px;
  font: 400 49px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-85 {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
  }
}
.div-86 {
  margin-top: 53px;
}

@media (max-width: 991px) {
  .div-86 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-87 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-87 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-14 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-14 {
    width: 100%;
  }
}
.div-88 {
  border-radius: 10px;
  border: 2px solid #303030;
  background-color: rgba(217, 217, 217, 0);
  flex-grow: 1;
  width: 100%;
  padding: 50px 80px 50px 26px;
}

@media (max-width: 991px) {
  .div-88 {
    max-width: 100%;
    margin-top: 20px;
    padding: 0 20px;
  }
}
.div-89 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-89 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-15 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 17%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-15 {
    width: 100%;
  }
}
.div-90 {
  color: #303030;
  white-space: nowrap;
  border-radius: 50%;
  aspect-ratio: 1;
  justify-content: center;
  margin: auto 0;
  padding: 13px 24px 13px 18px;
  font: 400 36px/150% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-90 {
    white-space: initial;
    margin-top: 40px;
    padding-right: 20px;
  }
}
.column-16 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 83%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-16 {
    width: 100%;
  }
}
.div-91 {
  color: #303030;
  white-space: nowrap;
  margin: auto 0;
  font: 600 36px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-91 {
    margin-top: 40px;
    white-space: initial;
  }
}
.column-17 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-17 {
    width: 100%;
  }
}
.div-92 {
  border-radius: 10px;
  border: 2px solid #303030;
  background-color: rgba(217, 217, 217, 0);
  flex-grow: 1;
  width: 100%;
  padding: 50px 80px 50px 38px;
}

@media (max-width: 991px) {
  .div-92 {
    max-width: 100%;
    margin-top: 20px;
    padding: 0 20px;
  }
}
.div-93 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-93 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-18 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 21%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-18 {
    width: 100%;
  }
}
.div-94 {
  color: #303030;
  white-space: nowrap;
  border-radius: 50%;
  aspect-ratio: 1;
  justify-content: center;
  margin: auto 0;
  padding: 13px 17px;
  font: 400 36px/150% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-94 {
    white-space: initial;
    margin-top: 40px;
  }
}
.column-19 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 79%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-19 {
    width: 100%;
  }
}
.div-95 {
  color: #303030;
  white-space: nowrap;
  margin: auto 0;
  font: 600 36px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-95 {
    margin-top: 40px;
    white-space: initial;
  }
}
.column-20 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-20 {
    width: 100%;
  }
}
.div-96 {
  border-radius: 10px;
  border: 2px solid #303030;
  background-color: rgba(217, 217, 217, 0);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 50px 79px 50px 38px;
}

@media (max-width: 991px) {
  .div-96 {
    max-width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}
.div-97 {
  color: #303030;
  white-space: nowrap;
  border-radius: 50%;
  aspect-ratio: 1;
  justify-content: center;
  margin: auto 0;
  padding: 13px 17px;
  font: 400 36px/150% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-97 {
    white-space: initial;
  }
}
.div-98 {
  color: #303030;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 600 36px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-98 {
    white-space: initial;
  }
}
.div-99 {
  background-color: #2d2c2c;
  align-self: stretch;
  margin-top: 127px;
  width: 100%;
  padding: 50px 0 50px 80px;
}

@media (max-width: 991px) {
  .div-99 {
    max-width: 100%;
    padding-left: 20px;
    margin-top: 40px;
  }
}
.div-100 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-100 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-21 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 51%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-21 {
    width: 100%;
  }
}
.div-101 {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: auto 0;
}

@media (max-width: 991px) {
  .div-101 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-102 {
  color: #fff;
  text-transform: uppercase;
  align-self: stretch;
  font: 600 49px/74px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-102 {
    max-width: 100%;
    font-size: 40px;
    line-height: 67px;
  }
}
.div-103 {
  color: #fff;
  align-self: stretch;
  margin-top: 54px;
  font: 400 26px/39px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-103 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-104 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  margin: 87px 14px 0 0;
}

@media (max-width: 991px) {
  .div-104 {
    max-width: 100%;
    flex-wrap: wrap;
    margin: 40px 10px 0 0;
  }
}
.div-105 {
  display: flex;
  flex-basis: 0%;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-105 {
    display: none;
  }
}
.div-106 {
  color: #fff;
  white-space: nowrap;
  font: 600 26px/150% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-106 {
    white-space: initial;
  }
}
.div-107 {
  color: #fff;
  margin-top: 59px;
  white-space: nowrap;
  font: 600 26px/150% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-107 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-108 {
  color: #fff;
  margin-top: 59px;
  white-space: nowrap;
  font: 600 26px/150% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-108 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-109 {
  color: #fff;
  margin-top: 100px;
  white-space: nowrap;
  font: 600 26px/150% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-109 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-110 {
  color: #fff;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 26px/39px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-110 {
    max-width: 100%;
  }
}
.column-22 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 49%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-22 {
    width: 100%;
  }
}
.img-19 {
  aspect-ratio: 1.21;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  margin: auto 0;
}

@media (max-width: 991px) {
  .img-19 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-111 {
  align-self: stretch;
  display: flex;
  margin-top: 153px;
  width: 100%;
  flex-direction: column;
  padding: 0 76px;
}

@media (max-width: 991px) {
  .div-111 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-112 {
  color: #303030;
  text-align: center;
  text-transform: uppercase;
  align-self: start;
  margin-left: 27px;
  white-space: nowrap;
  font: 600 49px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-112 {
    margin-left: 10px;
    font-size: 40px;
    white-space: initial;
  }
}
.div-113 {
  color: #000;
  align-self: start;
  max-width: 1493px;
  margin: 38px 0 0 25px;
  font: 400 26px/39px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-113 {
    max-width: 100%;
  }
}
.div-114 {
  align-self: center;
  margin-top: 99px;
  width: 100%;
  max-width: 1640px;
}

@media (max-width: 991px) {
  .div-114 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-115 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-115 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.div-116 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .div-116 {
    margin-top: 40px;
  }
}
.div-117 {
  color: #000;
  white-space: nowrap;
  font: 600 36px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-117 {
    white-space: initial;
  }
}
.div-118 {
  color: #000;
  white-space: nowrap;
  border-radius: 120px;
  background-color: #f8e967;
  align-self: stretch;
  margin-top: 21px;
  justify-content: center;
  padding: 18px 29px;
  font: 400 26px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-118 {
    white-space: initial;
    padding: 0 20px;
  }
}
.column-23 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-23 {
    width: 100%;
  }
}
.div-119 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .div-119 {
    margin-top: 40px;
  }
}
.div-120 {
  color: #000;
  white-space: nowrap;
  font: 600 36px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-120 {
    white-space: initial;
  }
}
.div-121 {
  color: #000;
  white-space: nowrap;
  border-radius: 120px;
  background-color: #f8e967;
  align-self: stretch;
  margin-top: 21px;
  justify-content: center;
  padding: 18px 32px 18px 27px;
  font: 400 26px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-121 {
    white-space: initial;
    padding: 0 20px;
  }
}
.column-24 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-24 {
    width: 100%;
  }
}
.div-122 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .div-122 {
    margin-top: 40px;
  }
}
.div-123 {
  color: #000;
  white-space: nowrap;
  font: 600 36px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-123 {
    white-space: initial;
  }
}
.div-124 {
  color: #000;
  white-space: nowrap;
  border-radius: 120px;
  background-color: #f8e967;
  align-self: stretch;
  margin-top: 24px;
  justify-content: center;
  padding: 18px 47px 18px 27px;
  font: 400 26px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-124 {
    white-space: initial;
    padding: 0 20px;
  }
}
.column-25 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-25 {
    width: 100%;
  }
}
.div-125 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-125 {
    margin-top: 40px;
  }
}
.div-126 {
  color: #000;
  white-space: nowrap;
  font: 600 36px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-126 {
    white-space: initial;
  }
}
.div-127 {
  color: #000;
  white-space: nowrap;
  border-radius: 120px;
  background-color: #f8e967;
  margin-top: 21px;
  justify-content: center;
  padding: 18px 32px;
  font: 400 26px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-127 {
    white-space: initial;
    padding: 0 20px;
  }
}
.div-128 {
  align-self: start;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  margin: 94px 0 0 29px;
}

@media (max-width: 991px) {
  .div-128 {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.img-20 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 68px;
  overflow: hidden;
  max-width: 100%;
}

.div-129 {
  color: #303030;
  margin-top: 5px;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 26px/39px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-129 {
    max-width: 100%;
  }
}
.div-130 {
  color: #303030;
  text-align: center;
  text-transform: uppercase;
  align-self: start;
  white-space: nowrap;
  margin: 141px 0 0 29px;
  font: 600 49px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-130 {
    font-size: 40px;
    white-space: initial;
    margin: 40px 0 0 10px;
  }
}
.div-131 {
  align-self: stretch;
  margin-top: 63px;
}

@media (max-width: 991px) {
  .div-131 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-132 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-132 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-26 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 26%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-26 {
    width: 100%;
  }
}
.img-21 {
  aspect-ratio: 1.39;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .img-21 {
    max-width: 100%;
    margin-top: 18px;
  }
}
.column-27 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 24%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-27 {
    width: 100%;
  }
}
.img-22 {
  aspect-ratio: 1.3;
  object-fit: contain;
  object-position: center;
  width: 415px;
  overflow: hidden;
  max-width: 100%;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .img-22 {
    margin-top: 18px;
  }
}
.column-28 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 24%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-28 {
    width: 100%;
  }
}
.img-23 {
  aspect-ratio: 1.3;
  object-fit: contain;
  object-position: center;
  width: 415px;
  overflow: hidden;
  max-width: 100%;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .img-23 {
    margin-top: 18px;
  }
}
.column-29 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-29 {
    width: 100%;
  }
}
.img-24 {
  aspect-ratio: 1.37;
  object-fit: contain;
  object-position: center;
  width: 437px;
  overflow: hidden;
  max-width: 100%;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .img-24 {
    margin-top: 18px;
  }
}
.div-133 {
  background-color: #2d2c2c;
  align-self: stretch;
  display: flex;
  margin-top: 143px;
  width: 100%;
  flex-direction: column;
  padding: 50px 80px;
}

@media (max-width: 991px) {
  .div-133 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-134 {
  color: #fff;
  text-transform: uppercase;
  max-width: 1565px;
  align-self: start;
  margin: 60px 0 0 20px;
  font: 600 49px/74px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-134 {
    max-width: 100%;
    font-size: 40px;
    line-height: 67px;
    margin-top: 40px;
  }
}
.div-135 {
  align-self: center;
  display: flex;
  margin-top: 69px;
  width: 100%;
  max-width: 1565px;
  padding-right: 80px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .div-135 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
    margin-top: 40px;
  }
}
.div-136 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.img-25 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 71px;
  overflow: hidden;
  max-width: 100%;
}

.div-137 {
  color: #fff;
  align-self: end;
  margin-top: 29px;
  flex-grow: 1;
  white-space: nowrap;
  font: 400 36px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-137 {
    white-space: initial;
  }
}
.div-138 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.img-26 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 78px;
  overflow: hidden;
  max-width: 100%;
}

.div-139 {
  color: #fff;
  align-self: center;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  font: 400 36px/150% Raleway, sans-serif;
}

.div-140 {
  align-self: center;
  margin-top: 62px;
  width: 100%;
  max-width: 1565px;
}

@media (max-width: 991px) {
  .div-140 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-141 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-141 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-30 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 57%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-30 {
    width: 100%;
  }
}
.div-142 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .div-142 {
    max-width: 100%;
    margin-top: 40px;
    flex-wrap: wrap;
  }
}
.img-27 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 69px;
  overflow: hidden;
  max-width: 100%;
}

.div-143 {
  color: #fff;
  align-self: end;
  margin-top: 29px;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 36px/54px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-143 {
    max-width: 100%;
  }
}
.column-31 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 43%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-31 {
    width: 100%;
  }
}
.div-144 {
  display: flex;
  flex-grow: 1;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .div-144 {
    max-width: 100%;
    margin-top: 40px;
    flex-wrap: wrap;
  }
}
.img-28 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 69px;
  overflow: hidden;
  max-width: 100%;
}

.div-145 {
  color: #fff;
  align-self: end;
  margin-top: 29px;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 36px/54px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-145 {
    max-width: 100%;
  }
}
.div-146 {
  align-self: center;
  margin-top: 62px;
  width: 100%;
  max-width: 1565px;
}

@media (max-width: 991px) {
  .div-146 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-147 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-147 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-32 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 56%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-32 {
    width: 100%;
  }
}
.div-148 {
  display: flex;
  margin-top: 46px;
  flex-grow: 1;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .div-148 {
    max-width: 100%;
    margin-top: 40px;
    flex-wrap: wrap;
  }
}
.div-149 {
  color: #f8e967;
  white-space: nowrap;
  font: 800 36px/150% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-149 {
    white-space: initial;
  }
}
.div-150 {
  color: #fff;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 36px/54px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-150 {
    max-width: 100%;
  }
}
.column-33 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 44%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-33 {
    width: 100%;
  }
}
.div-151 {
  flex-grow: 1;
}

@media (max-width: 991px) {
  .div-151 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-152 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-152 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-34 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 17%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-34 {
    width: 100%;
  }
}
.img-29 {
  aspect-ratio: 0.86;
  object-fit: contain;
  object-position: center;
  width: 103px;
  overflow: hidden;
  max-width: 100%;
}

@media (max-width: 991px) {
  .img-29 {
    margin-top: 35px;
  }
}
.column-35 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 83%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-35 {
    width: 100%;
  }
}
.div-153 {
  color: #fff;
  margin-top: 46px;
  font: 400 36px/54px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-153 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-154 {
  align-self: center;
  display: flex;
  margin-top: 78px;
  width: 100%;
  max-width: 1565px;
  padding-right: 80px;
  align-items: end;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .div-154 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
    margin-top: 40px;
  }
}
.div-155 {
  display: flex;
  margin-top: 30px;
  align-items: start;
  gap: 19px;
}

@media (max-width: 991px) {
  .div-155 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-156 {
  color: #f8e967;
  white-space: nowrap;
  font: 800 36px/108.5% Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .div-156 {
    white-space: initial;
  }
}
.div-157 {
  color: #fff;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 36px/150% Raleway, sans-serif;
}

.div-158 {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .div-158 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.img-30 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 71px;
  overflow: hidden;
  max-width: 100%;
}

.div-159 {
  color: #fff;
  align-self: end;
  margin-top: 30px;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 36px/150% Raleway, sans-serif;
}

.div-160 {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1565px;
  padding-right: 80px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  margin: 85px 0 35px;
}

@media (max-width: 991px) {
  .div-160 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
    margin-top: 40px;
  }
}
.div-161 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .div-161 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.img-31 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 69px;
  overflow: hidden;
  max-width: 100%;
}

.div-162 {
  color: #fff;
  align-self: center;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  font: 400 36px/54px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-162 {
    max-width: 100%;
  }
}
.div-163 {
  display: flex;
  margin-top: 9px;
  justify-content: space-between;
  gap: 20px;
}

.img-32 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 77px;
  overflow: hidden;
  max-width: 100%;
}

.div-164 {
  color: #fff;
  align-self: start;
  margin-top: 13px;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 36px/150% Raleway, sans-serif;
}

.div-165 {
  align-self: center;
  margin-top: 135px;
  width: 100%;
  max-width: 1819px;
}

@media (max-width: 991px) {
  .div-165 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-166 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-166 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-36 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 45%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-36 {
    width: 100%;
  }
}
.div-167 {
  display: flex;
  margin-top: 19px;
  flex-direction: column;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .div-167 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-168 {
  color: #303030;
  text-transform: uppercase;
  font: 600 49px/74px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-168 {
    max-width: 100%;
    font-size: 40px;
    line-height: 67px;
  }
}
.div-169 {
  color: #303030;
  margin-top: 112px;
  font: 400 26px/39px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-169 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.column-37 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 55%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-37 {
    width: 100%;
  }
}
.img-33 {
  aspect-ratio: 1.12;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .img-33 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-170 {
  align-self: stretch;
  margin-top: 83px;
  width: 100%;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .div-170 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-171 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-171 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-38 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 52%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-38 {
    width: 100%;
  }
}
.img-34 {
  aspect-ratio: 1.12;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .img-34 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.column-39 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 48%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-39 {
    width: 100%;
  }
}
.div-172 {
  color: #303030;
  margin: auto 0;
  font: 400 26px/39px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-172 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-173 {
  align-self: stretch;
  margin-top: 99px;
  width: 100%;
}

@media (max-width: 991px) {
  .div-173 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-174 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-174 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-40 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 51%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-40 {
    width: 100%;
  }
}
.div-175 {
  background-color: #303030;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 60px;
}

@media (max-width: 991px) {
  .div-175 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-176 {
  display: flex;
  width: 705px;
  max-width: 100%;
  flex-direction: column;
  margin: 44px 0 41px;
}

@media (max-width: 991px) {
  .div-176 {
    margin: 40px 0;
  }
}
.div-177 {
  align-self: start;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .div-177 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.img-35 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 45px;
  overflow: hidden;
  max-width: 100%;
}

.div-178 {
  color: #fff;
  margin-top: 4px;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 36px/54px Raleway, sans-serif;
}

.div-179 {
  align-self: start;
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .div-179 {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.img-36 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 41px;
  overflow: hidden;
  max-width: 100%;
}

.div-180 {
  color: #fff;
  align-self: start;
  margin-top: 9px;
  flex-grow: 1;
  white-space: nowrap;
  font: 400 30px/150% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-180 {
    white-space: initial;
  }
}
.div-181 {
  color: #fff;
  margin-top: 80px;
  font: 400 30px/45px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-181 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.column-41 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 49%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-41 {
    width: 100%;
  }
}
.div-182 {
  disply: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 691px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
}

@media (max-width: 991px) {
  .div-182 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.img-37 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.img-38 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 60px;
  overflow: hidden;
  max-width: 100%;
  margin: 206px 0 250px 98px;
}

@media (max-width: 991px) {
  .img-38 {
    margin: 40px 0;
  }
}
.div-183 {
  display: flex;
  margin-top: 69px;
  width: 100%;
  max-width: 1648px;
  flex-direction: column;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .div-183 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-184 {
  align-self: start;
  width: 794px;
  max-width: 100%;
}

.div-185 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-185 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-42 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 70%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-42 {
    width: 100%;
  }
}
.div-186 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-186 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-187 {
  color: #303030;
  font: 600 30px/45px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-187 {
    max-width: 100%;
  }
}
.div-188 {
  color: #303030;
  margin-top: 67px;
  font: 600 30px/45px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-188 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-189 {
  color: #303030;
  margin-top: 60px;
  font: 600 30px/170% Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-189 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.column-43 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 30%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-43 {
    width: 100%;
  }
}
.div-190 {
  display: flex;
  margin-top: 51px;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-190 {
    margin-top: 40px;
  }
}
.div-191 {
  color: #303030;
  white-space: nowrap;
  font: 600 30px/170% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-191 {
    white-space: initial;
  }
}
.div-192 {
  color: #303030;
  margin-top: 119px;
  white-space: nowrap;
  font: 600 30px/170% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-192 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-193 {
  color: #303030;
  margin-top: 75px;
  white-space: nowrap;
  font: 600 30px/170% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-193 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-194 {
  color: #000;
  align-self: end;
  z-index: 1;
  white-space: nowrap;
  margin: -259px 25px 0 0;
  font: 600 30px/170% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-194 {
    white-space: initial;
    margin: -200px 10px 0 0;
  }
}
.div-195 {
  color: #303030;
  align-self: center;
  white-space: nowrap;
  margin: -27px 0 0 241px;
  font: 600 30px/170% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-195 {
    white-space: initial;
  }
}
.div-196 {
  color: #000;
  align-self: end;
  z-index: 1;
  margin-top: 117px;
  white-space: nowrap;
  font: 600 30px/170% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-196 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-197 {
  color: #303030;
  align-self: center;
  white-space: nowrap;
  margin: -27px 0 0 241px;
  font: 600 30px/170% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-197 {
    white-space: initial;
  }
}
.div-198 {
  color: #000;
  align-self: end;
  white-space: nowrap;
  margin: 73px 395px 0 0;
  font: 600 30px/170% Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-198 {
    white-space: initial;
    margin: 40px 10px 0 0;
  }
}
.div-199 {
  background-color: #f8e967;
  align-self: stretch;
  display: flex;
  margin-top: 55px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 50px 60px 30px;
}

@media (max-width: 991px) {
  .div-199 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-200 {
  display: flex;
  margin-top: 35px;
  width: 100%;
  max-width: 1430px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-200 {
    max-width: 100%;
  }
}
.div-201 {
  align-self: center;
  width: 766px;
  max-width: 100%;
}

.div-202 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-202 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-44 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 35%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-44 {
    width: 100%;
  }
}
.div-203 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-203 {
    margin-top: 40px;
  }
}
.div-204 {
  color: #303030;
  white-space: nowrap;
  font: 400 32px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-204 {
    white-space: initial;
  }
}
.div-205 {
  color: #303030;
  margin-top: 44px;
  white-space: nowrap;
  font: 400 32px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-205 {
    margin-top: 40px;
    white-space: initial;
  }
}
.column-45 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 41%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-45 {
    width: 100%;
  }
}
.div-206 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-206 {
    margin-top: 40px;
  }
}
.div-207 {
  color: #303030;
  white-space: nowrap;
  font: 400 32px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-207 {
    white-space: initial;
  }
}
.div-208 {
  color: #303030;
  margin-top: 44px;
  white-space: nowrap;
  font: 400 32px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-208 {
    margin-top: 40px;
    white-space: initial;
  }
}
.column-46 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 24%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-46 {
    width: 100%;
  }
}
.div-209 {
  color: #303030;
  white-space: nowrap;
  font: 400 32px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-209 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-210 {
  background-color: #303030;
  display: flex;
  margin-top: 68px;
  height: 1px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-210 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-211 {
  color: #303030;
  align-self: center;
  margin-top: 31px;
  white-space: nowrap;
  font: 400 26px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .div-211 {
    white-space: initial;
  }
}

/*# sourceMappingURL=style.css.map */
