@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@400;600;700&display=swap");
header {
  background-color: var(--main-background-color);
  display: grid;
  justify-items: center;
  position: fixed;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav ol {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: var(--header-hight);
  list-style: none;
  justify-content: space-between;
  width: 38%;
}
header nav ol li {
  cursor: pointer;
}
header nav ol li a {
  display: block;
}
header nav ol li:first-child {
  margin-left: 0;
}
header nav ol:last-child {
  width: 42%;
  justify-content: space-around;
}
header nav a.logo {
  display: grid;
  position: absolute;
  left: calc(50% - 62px);
  height: var(--header-hight);
}

:root {
  --max-width: 107.5rem;
  --body-padding: 6.25rem;
  --header-hight: 6.875rem;
  --intro-section-radius: 2.5rem;
  --main-background-color: #fff;
  --main-color: #303030;
  --secondary-background-color: #2D2C2C;
  --secondary-color: #fff;
  --contrast-color: #F8E967;
  --card-title-font-size: 2.25rem;
  --section-title-font-size: 3.0625rem;
  --card-footer-font-size: 1.75rem;
  --paragragh-font-size: 1.625rem;
  --footer-font-size: 2rem;
}

body {
  color: var(--main-color);
  font: 400 2rem Raleway, sans-serif;
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.content-container {
  width: 100%;
  max-width: var(--max-width);
}

.section-title, h2 {
  font-weight: 600;
  font-size: var(--section-title-font-size);
}

.section-title {
  text-align: left;
  text-transform: uppercase;
}

.section-subtitle, h3 {
  font-weight: 500;
  font-size: var(--section-title-font-size);
}

h4 {
  font-weight: 400;
}

p, li {
  font-size: var(--paragragh-font-size);
}

.background-image-property {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-comics {
  display: flex;
  justify-content: space-between;
  gap: 5.25rem;
}
.section-comics .text-content {
  width: 50%;
}
.section-comics .img-content {
  max-width: min(58.75rem, 50vw);
  margin-right: -6.25rem;
  display: flex;
  align-items: center;
}
.section-comics .img-content .img {
  aspect-ratio: 1.21;
  border-bottom-left-radius: 2.25rem;
  border-top-left-radius: 2.25rem;
}

.section-comics.reverse .img-content {
  margin-inline: -6.25rem 0;
}
.section-comics.reverse .img-content .img {
  border-radius: 0;
  border-bottom-right-radius: 2.25rem;
  border-top-right-radius: 2.25rem;
}

section.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./../assets/intro.webp"), rgba(0, 0, 0, 0.36);
  background-blend-mode: color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 2.21;
  border-radius: 40px;
  margin-top: var(--header-hight);
  width: calc(100vw - 2 * var(--body-padding));
  padding: 0;
}
section.intro .intro-header {
  display: grid;
  align-content: center;
  height: 100%;
  color: var(--secondary-color);
}
section.intro .intro-header h1, section.intro .intro-header h3 {
  height: fit-content;
  text-align: center;
}
section.intro .intro-header h1 {
  font-size: 5.375rem;
  font-weight: 700;
}
section.intro .intro-footer {
  width: 100%;
  padding: 2.375rem 12.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8E967;
  border-bottom-left-radius: var(--intro-section-radius);
  border-bottom-right-radius: var(--intro-section-radius);
  font-size: 1.875rem;
  line-height: 1.7;
}
section.intro .intro-footer .contact-name {
  width: fit-content;
}
section.intro .intro-footer .contact-number {
  font: 600 1.875rem Montserrat, sans-serif;
  color: #464646;
  text-decoration: none;
}

section.services {
  width: 100%;
  margin-top: 4.76rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.services .vehicles .section-body {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, min(25.875rem, 80vw));
  gap: 1.25rem;
}
section.services .vehicles .section-body .card {
  display: flex;
  flex-direction: column;
  max-width: 25.9375rem;
  border-radius: 0.625rem;
  border: 2px solid #303030;
  background: rgba(217, 217, 217, 0);
}
section.services .vehicles .section-body .card img {
  aspect-ratio: 1.24;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
section.services .vehicles .section-body .card .card-footer {
  padding: 1rem 2.25rem 2.5rem;
  overflow: hidden;
  height: 11.625rem;
  font-size: var(--card-footer-font-size);
}

section.roads {
  padding: 8.125rem 0;
  width: 100%;
}
section.roads .section-body {
  width: 100%;
  gap: 1.25rem;
  display: flex;
  margin-top: 2.5rem;
}
section.roads .section-body .card {
  width: 100%;
  border-radius: 0.625rem;
  border: 2px solid #303030;
  padding: 3.75rem 3.125rem 3.75rem 1.625rem;
  display: flex;
  gap: 1.875rem;
}
section.roads .section-body .card .card-order {
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: auto 0;
  background-color: var(--contrast-color);
  font: 400 var(--card-title-font-size) Montserrat, sans-serif;
}

section.lab {
  background-color: #2d2c2c;
  padding-block: 3.875rem;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  width: 100%;
}
section.lab .section-comics .text-content {
  padding-block: 1.875rem;
}
section.lab .section-comics .text-content p {
  margin-top: 1.5rem;
  margin-bottom: 4.125rem;
}
section.lab .section-comics .text-content li {
  margin-bottom: 2.375rem;
  display: flex;
}
section.lab .section-comics .text-content li .li-counter {
  margin-right: 1.375rem;
}
section.lab .section-comics .text-content ol {
  list-style: none;
  margin-left: 2.25rem;
  padding: 0;
}

section.products {
  margin-top: 8.375rem;
}
section.products .section-body {
  margin-top: 1rem;
}
section.products .card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  margin-top: 2.875rem;
}
section.products .card-wrapper .card {
  width: 100%;
  border-radius: 1.5rem;
  padding-top: 1.625rem;
  border: 2px solid #2D2C2C;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.products .card-wrapper .card .card-title {
  font-size: var(--card-title-font-size);
  font-weight: 600;
}
section.products .card-wrapper .card .card-subtitle {
  position: relative;
  top: 1.875rem;
  z-index: 1;
  background: var(--contrast-color);
  padding: 0.625rem 1.625rem;
  border-radius: 7.5rem;
}
section.products .product-info {
  margin-top: 6.875rem;
  display: flex;
  align-items: center;
}
section.products .product-info .upload-info-btn {
  width: 4.25rem;
  height: 4.25rem;
  margin-right: 2rem;
  background-image: url("./../assets/download.png");
  background-color: var(--contrast-color);
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.gallery {
  margin-top: 7.5rem;
  margin-bottom: 8.75rem;
}
section.gallery .gallery-wrapper {
  margin-top: 2.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
section.gallery .gallery-wrapper .card {
  width: 100%;
}

section.accomplishments {
  width: 100%;
  background-color: #2d2c2c;
  padding-block: 5.625rem;
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: var(--card-title-font-size);
}
section.accomplishments .section-body .section-content {
  display: flex;
  justify-content: space-between;
}
section.accomplishments .section-body .section-content .left-part, section.accomplishments .section-body .section-content .right-part {
  width: 100%;
}
section.accomplishments .section-body .section-content .left-part li, section.accomplishments .section-body .section-content .right-part li {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-top: 5.5rem;
  height: 5.625rem;
}
section.accomplishments .section-body .section-content .left-part li .icon, section.accomplishments .section-body .section-content .right-part li .icon {
  width: 130px;
  height: 100%;
  display: grid;
  justify-items: center;
}
section.accomplishments .section-body .section-content .left-part li:first-child, section.accomplishments .section-body .section-content .right-part li:first-child {
  margin-top: 4.375rem;
}
section.accomplishments .section-body .section-content .left-part li:first-child .icon {
  background-image: url("./../assets/padlock.svg");
}

section.history {
  margin-top: 8.125rem;
}
section.history .section-comics {
  margin-bottom: 6.25rem;
}
section.history h2 {
  margin-bottom: 5.625rem;
}
section.history .section-comics.reverse .text-content {
  display: grid;
  align-items: center;
}

section.contacts {
  width: 100%;
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
  display: grid;
  justify-items: center;
  font-size: var(--card-footer-font-size);
}
section.contacts .section-comics {
  width: 100%;
  max-width: calc(var(--max-width) + 2 * var(--body-padding));
  gap: 0;
}
section.contacts .section-comics div {
  width: 100%;
}
section.contacts .section-comics .text-content {
  display: grid;
  justify-content: center;
  padding: 5.375rem var(--body-padding);
}
section.contacts .section-comics .text-content .physical-location {
  display: flex;
  margin-bottom: 2rem;
}
section.contacts .section-comics .text-content .working-hours-title {
  margin-block: 4.125rem;
}
section.contacts .section-comics iframe {
  width: 100%;
  height: 100%;
}

section.person-contacts {
  padding-block: 3.375rem 2.875rem;
  width: 100%;
  display: grid;
  justify-items: center;
}
section.person-contacts .person-list {
  gap: 2rem;
  display: grid;
}
section.person-contacts .person-list li {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-end;
  justify-items: center;
}
section.person-contacts .person-list li p {
  justify-self: start;
}
section.person-contacts .person-list li a {
  font-weight: 600;
}

footer {
  background-color: var(--contrast-color);
  font-size: var(--footer-font-size);
  width: 100%;
  display: grid;
  justify-items: center;
}
footer nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.25rem 10.875rem;
  padding-block: 4.875rem 4.125rem;
  list-style: none;
}
footer nav ul li {
  cursor: pointer;
}
footer .rights {
  padding-block: 1.5rem;
  font-size: var(--paragragh-font-size);
}
footer .divider {
  height: 1px;
  background-color: var(--secondary-background-color);
  width: min(1430px, 100%);
}

/*# sourceMappingURL=style.css.map */
