:root {
  --max-width: 107.5rem;
  --body-padding: 6.25rem;
  --header-hight: 6.875rem;
  --intro-section-radius: 2.5rem;

  --main-background-color: #fff;
  --main-color: #303030;
  --secondary-background-color: #2D2C2C;
  --secondary-color: #fff;
  --contrast-color: #F8E967;

  --section-title-font-size: 3.0625rem;
  --card-title-font-size: 2.25rem;
  --footer-font-size: 2rem;
  --card-footer-font-size: 1.75rem;
  --paragragh-font-size: 1.625rem;


}

html {
  scroll-behavior: smooth;
  @media screen and (max-width: 1960px){
    .section-comics.content-container, .history.content-container {
      max-width: 100%;
      padding-left: 3vw;
      .img-content {
        margin: 0;
      }
    }
    .section-comics.reverse {
      margin-left: -3vw;
      padding-right: 3vw;
    }
  }
  @media screen and (max-width: 1440px){
    font-size: 14px;
    .section-title, .section-subtitle {
      text-align: center;
    }
    .section-comics {
      gap: 3rem;
      .section-title, .section-subtitle {
        text-align: left;
      }
    }
  }
  @media screen and (max-width: 1200px){
    .section-comics.content-container, .history.content-container .section-comics {
      flex-direction: column;
      gap: 2rem;
      padding-inline: 3vw;

      & > div {
        width: 100%;
        max-width: 100%;
      }
      .img-content {
        border-radius: 2.25rem;
        aspect-ratio: 1.8;
      }
    }
    .history.content-container .section-comics.reverse {
      flex-direction: column-reverse;
    }
  }
  @media screen and (max-width: 992px){
    font-size: 12px;
    --section-title-font-size: 2.5rem;
  }
  @media screen and (max-width: 768px){
    font-size: 10px;
    --section-title-font-size: 2.25rem;
    --card-title-font-size: 2rem;
    --footer-font-size: 1.75rem;
    --paragragh-font-size: 1.5rem;
  }
  @media screen and (max-width: 500px){
    font-size: 8px;
  }
}

body {
  color: var(--main-color);
  font: 400 2rem Raleway, sans-serif;
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.content-container {
  width: 100%;
  max-width: min(var(--max-width), 94vw);
}

.section-title, h2 {
  font-weight: 600;
  font-size: var(--section-title-font-size);
}

.section-title {
  text-align: left;
  text-transform: uppercase;
}

.section-subtitle, h3 {
  font-weight: 500;
  font-size: var(--section-title-font-size);
}

h4 {
  font-weight: 400;
}

p, li {
  font-size: var(--paragragh-font-size);
}

.background-image-property {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon.background-image-property {
  background-size: auto;
}

.section-comics {
  display: flex;
  justify-content: space-between;
  gap: 5.25rem;

  .text-content {
    width: 50%;
  }

  .img-content {
    max-width: min(58.75rem, 50vw);
    margin-right: -6.25rem;
    display: flex;
    align-items: center;
    width: 100%;
    aspect-ratio: 1.21;
    border-bottom-left-radius: 2.25rem;
    border-top-left-radius: 2.25rem;
  }
}

.section-comics.reverse {
  .img-content {
    margin-inline: -6.25rem 0;
    border-radius: 0;
    border-bottom-right-radius: 2.25rem;
    border-top-right-radius: 2.25rem;
  }
}


