header {
  background-color: var(--main-background-color);
  display: grid;
  justify-items: center;
  position: fixed;
  width: 100%;

  nav {
    .logo-wrapper {
      display: grid;
      justify-items: center;
      width: 100%;
      max-width: min(var(--max-width), 94vw);
    }

    .links-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .for-pc {
      display: none;
    }

    ol {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      height: var(--header-hight);
      list-style: none;
      justify-content: space-between;

      li {
        cursor: pointer;

        a {
          display: block;
          margin-block: auto;
        }
      }

      li:first-child {
        margin-left: 0;
      }
    }
  }

  @media screen and (min-width: 1100px) {
    nav {
      .for-pc {
        display: flex;
      }

      .for-mobile {
        display: none;
      }

      ol {
        width: 38%;
      }

      ol:last-child {
        width: 42%;
        justify-content: space-around;
      }

      .logo-wrapper {
        position: absolute;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .logo.anchor {
      .img {
        height: 50px;
      }
    }
  }
}
