section.lab {
  background-color: #2d2c2c;
  padding-block: 3.875rem;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  width: 100%;

  .section-comics {
    .text-content {
      padding-block: 1.875rem;

      p {
        margin-top: 1.5rem;
        margin-bottom: 4.125rem;
      }

      li {
        margin-bottom: 2.375rem;
        display: flex;
        .li-counter {
          margin-right: 1.375rem;
        }
      }

      ol {
        list-style: none;
        margin-left: 2.25rem;
        padding: 0;
      }
    }

    .img-content {
      background-image: url('./../assets/lab.webp');
    }
  }
}
