@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@400;600;700&display=swap');
@import "_header";
@import "_global-styles";
@import "_intro";

section.services {
  width: 100%;
  margin-top: 4.76rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .vehicles {
    .section-body {
      margin-top: 1.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, min(25.875rem, 80vw));
      gap: 1.25rem;

      .card {
        display: flex;
        flex-direction: column;
        max-width: 25.9375rem;
        border-radius: 0.625rem;
        border: 2px solid #303030;
        background: rgba(217, 217, 217, 0.00);

        img {
          aspect-ratio: 1.24;
          object-fit: contain;
          object-position: center;
          width: 100%;
          overflow: hidden;
        }

        .card-footer {
          padding: 1rem 2.25rem 2.5rem;
          overflow: hidden;
          height: 11.625rem;
          font-size: var(--card-footer-font-size);
        }
      }
    }
  }
}

section.roads {
  padding: 8.125rem 0;
  width: 100%;

  .section-body {
    width: 100%;
    gap: 1.25rem;
    display: flex;
    margin-top: 2.5rem;

    .card {
      width: 100%;
      border-radius: 0.625rem;
      border: 2px solid #303030;
      padding: 3.75rem 3.125rem 3.75rem 1.625rem;
      display: flex;
      gap: 1.875rem;


      .card-order {
        width: 3.125rem;
        height: 3.125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: auto 0;
        background-color: var(--contrast-color);
        font: 400 var(--card-title-font-size) Montserrat, sans-serif;
      }
    }
  }
}

section.lab {
  background-color: #2d2c2c;
  padding-block: 3.875rem;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  width: 100%;

  .section-comics {


    .text-content {
      padding-block: 1.875rem;

      p {
        margin-top: 1.5rem;
        margin-bottom: 4.125rem;
      }

      li {
        margin-bottom: 2.375rem;
        display: flex;
        .li-counter {
          margin-right: 1.375rem;
        }
      }

      ol {
        list-style: none;
        margin-left: 2.25rem;
        padding: 0;
      }
    }
  }
}

section.products {
  margin-top: 8.375rem;

  .section-body {
    margin-top: 1rem;
  }

  .card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    margin-top: 2.875rem;

    .card {
      width: 100%;
      border-radius: 1.5rem;
      padding-top: 1.625rem;
      border: 2px solid #2D2C2C;
      display: flex;
      flex-direction: column;
      align-items: center;

      .card-title {
        font-size: var(--card-title-font-size);
        font-weight: 600;
      }
      .card-subtitle {
        position: relative;
        top: 1.875rem;
        z-index: 1;
        background: var(--contrast-color);
        padding: 0.625rem 1.625rem;
        border-radius: 7.5rem;
      }
    }
  }

  .product-info {
    margin-top: 6.875rem;
    display: flex;
    align-items: center;

    .upload-info-btn {
      width: 4.25rem;
      height: 4.25rem;
      margin-right: 2rem;
      background-image: url("./../assets/download.png");
      background-color: var(--contrast-color);
      border-radius: 5px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

section.gallery {
  margin-top: 7.5rem;
  margin-bottom: 8.75rem;

  .gallery-wrapper {
    margin-top: 2.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .card {
      width: 100%;
    }
  }
}

section.accomplishments {
  width: 100%;
  background-color: #2d2c2c;
  padding-block: 5.625rem;
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: var(--card-title-font-size);

  .section-body {

    .section-content {
      display: flex;
      justify-content: space-between;

      .left-part, .right-part {
        width: 100%;

        li {
          display: flex;
          align-items: center;
          margin-right: 1rem;
          margin-top: 5.5rem;
          height: 5.625rem;

          .icon {
            width: 130px;
            height: 100%;
            display: grid;
            justify-items: center;
          }
        }

        li:first-child {
          margin-top: 4.375rem;
        }
      }

      .left-part li:first-child .icon {
        background-image: url("./../assets/padlock.svg");
      }
    }
  }
}

section.history {
  margin-top: 8.125rem;
  .section-comics {
    margin-bottom: 6.25rem;
  }
  h2 {
    margin-bottom: 5.625rem;
  }
  .section-comics.reverse {
    .text-content {
      display: grid;
      align-items: center;
    }
  }
}

section.contacts {
  width: 100%;
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
  display: grid;
  justify-items: center;
  font-size: var(--card-footer-font-size);

  .section-comics {
    width: 100%;
    max-width: calc(var(--max-width) + 2 * var(--body-padding));
    gap:0;

    div {
      width: 100%;
    }

    .text-content {
      display: grid;
      justify-content: center;
      padding: 5.375rem var(--body-padding);

      .physical-location {
        display: flex;
        margin-bottom: 2rem;
      }

      .working-hours-title {
        margin-block: 4.125rem;
      }
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

section.person-contacts {
  padding-block: 3.375rem 2.875rem;
  width: 100%;
  display: grid;
  justify-items: center;
  .person-list {
    gap: 2rem;
    display: grid;
    li {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: flex-end;
      justify-items: center;
      p {
      justify-self: start;
      }
      a {
        font-weight: 600;
      }
    }

  }
}

footer {
  background-color: var(--contrast-color);
  font-size: var(--footer-font-size);
  width: 100%;
  display: grid;
  justify-items: center;

  nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.25rem 10.875rem;
    padding-block: 4.875rem 4.125rem;
    list-style: none;
    li {
      cursor: pointer;
    }
  }

  .rights {
    padding-block: 1.5rem;
    font-size: var(--paragragh-font-size);
  }

  .divider {
    height: 1px;
    background-color: var(--secondary-background-color);
    width: min(1430px, 100%);
  }
}
