@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@400;600;700&display=swap');
@import "_header";
@import "_global-styles";
@import "_intro";

section.services {
  width: 100%;
  margin-top: 4.76rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .vehicles {
    .section-body {
      margin-top: 1.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, min(25.875rem, 80vw));
      justify-content: center;
      gap: 1.25rem;

      .card {
        display: flex;
        flex-direction: column;
        max-width: 25.9375rem;
        border-radius: 0.625rem;
        border: 2px solid #303030;
        background: rgba(217, 217, 217, 0.00);

        img {
          aspect-ratio: 1.24;
          object-fit: contain;
          object-position: center;
          width: 100%;
          overflow: hidden;
        }

        .card-footer {
          padding: 1rem 2.25rem 2.5rem;
          overflow: hidden;
          height: 11.625rem;
          font-size: var(--card-footer-font-size);
        }
      }
    }
  }
  @media screen and (max-width: 1440px) {
    .vehicles .section-body .card .card-footer{
      height: auto;
    }
  }

  @media screen and (max-width: 1200px) {
    margin-top: 4.25rem;
  }
}

section.roads {
  padding-block: 8.125rem;
  width: 100%;

  .section-body {
    width: 100%;
    gap: 1.25rem;
    display: flex;
    margin-top: 2.5rem;

    .card {
      width: 100%;
      border-radius: 0.625rem;
      border: 2px solid #303030;
      padding: 3.75rem 3.125rem 3.75rem 1.625rem;
      display: flex;
      align-items: center;
      gap: 1.875rem;

      .card-order {
        width: 3.125rem;
        height: 3.125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: auto 0;
        background-color: var(--contrast-color);
        font: 400 var(--card-title-font-size) Montserrat, sans-serif;
      }
    }
  }

  @media screen and (max-width: 1600px) {
    .section-body {
      padding: 2.75rem 2rem;
    }
  }

  @media screen and (max-width: 1550px) {
    .section-body .card{
      padding: 2.5rem 1.5rem;
    }
  }

  @media screen and (max-width: 1440px) {
    padding-block: 5rem 3rem;

    .section-body .card {
      padding-block: 1.75rem;
      padding-inline: 1.25rem;
      gap: 1.25rem;
    }
  }

  @media screen and (max-width: 1200px) {
    .section-body .card{
      padding-block: 1.5rem;

      .card-label {
        width: max-content;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .section-body {
      flex-wrap: wrap;
    }
  }
}

section.lab {
  background-color: #2d2c2c;
  padding-block: 3.875rem;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  width: 100%;

  .section-comics {
    .text-content {
      padding-block: 1.875rem;

      p {
        margin-top: 1.5rem;
        margin-bottom: 4.125rem;
      }

      li {
        margin-bottom: 2.375rem;
        display: flex;
        .li-counter {
          margin-right: 1.375rem;
        }
      }

      ol {
        list-style: none;
        margin-left: 2.25rem;
        padding: 0;
      }
    }

    .img-content {
      background-image: url('./../assets/lab.webp');
    }
  }
}

section.products {
  margin-top: 8.375rem;

  .section-body {
    margin-top: 1rem;
  }

  .card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    margin-top: 2.875rem;

    .card {
      width: 100%;
      border-radius: 1.5rem;
      padding-top: 1.625rem;
      padding-inline: 1.25rem;
      border: 2px solid #2D2C2C;
      display: flex;
      flex-direction: column;
      align-items: center;

      .card-title {
        font-size: var(--card-title-font-size);
        font-weight: 600;
        text-align: center;
      }
      .card-subtitle {
        position: relative;
        top: 1.875rem;
        z-index: 1;
        background: var(--contrast-color);
        padding: 0.625rem 1.625rem;
        border-radius: 7.5rem;
      }
    }
  }

  .product-info {
    margin-top: 6.875rem;
    display: flex;
    align-items: center;

    .upload-info-btn {
      width: 4.25rem;
      height: 4.25rem;
      margin-right: 2rem;
      background-image: url("./../assets/download.png");
      background-color: var(--contrast-color);
      border-radius: 5px;
    }
  }

  @media screen and (max-width: 1440px) {
    margin-top: 4rem;
  }
  @media screen and (max-width: 1200px) {
    .card-wrapper {
      flex-wrap: wrap;
    }
  }
}

section.gallery {
  margin-top: 7.5rem;
  margin-bottom: 8.75rem;

  .gallery-wrapper {
    margin-top: 2.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .card {
      width: 415px;
      height: 320px;
    }

    .swiper-button {
      height: 62px;
      width: 62px;
      background-color: #F8E967;
      background-size: 28px;
      border-radius: 50px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .swiper-button-next {
      background-image: url("./../assets/Arrow2.webp");
    }
    .swiper-button-prev {
      background-image: url("./../assets/Arrow1.webp");
    }
  }
  @media screen and (max-width: 1440px) {
    margin-block: 5rem 6rem;
  }
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: "" !important;
}

section.accomplishments {
  width: 100%;
  background-color: #2d2c2c;
  padding-block: 5.625rem;
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: var(--card-title-font-size);

  .section-body {

    .section-content {
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      .left-part, .right-part {
        width: 100%;

        li {
          display: flex;
          align-items: center;
          margin-right: 1rem;
          margin-top: 5.5rem;
          height: 5.625rem;
          gap: 1rem;

          .icon {
            min-width: 5.375rem;
            min-height: 5rem;
            height: 100%;
            display: grid;
            justify-items: center;
            background-size: contain;
          }
        }

        li:first-child {
          margin-top: 4.375rem;
        }
      }

      .padlock {
        background-image: url("./../assets/padlock.svg");
      }
      .factory {
        background-image: url("./../assets/factory.png");
      }
      .tonnage {
        background-image: url("./../assets/120.webp");
      }
      .founded {
        background-image: url("./../assets/1972.png");
      }
      .staff {
        background-image: url("./../assets/staff.png");
      }
      .vehicles-park {
        background-image: url("./../assets/vehicles-park.png");
      }
      .industry-center {
        background-image: url("./../assets/industry-center.png");
      }
      .delivery {
        background-image: url("./../assets/delivery.png");
      }
      .lab {
        background-image: url("./../assets/lab.png");
      }
      .quality {
        background-image: url("./../assets/quality.png");
      }
    }
  }

  @media screen and (max-width: 992px){
    .section-content {
      gap: 0;
      flex-direction: column;
      li {
        gap: 2rem;
      }
    }
  }
}

section.history {
  margin-top: 8.125rem;

  .section-comics {
    margin-bottom: 6.25rem;
    .img-content {
      background-image: url("./../assets/history1.webp");
    }
  }

  h2 {
    margin-bottom: 5.625rem;
  }

  .section-comics.reverse {
    .text-content {
      display: grid;
      align-items: center;
    }
    .img-content {
      background-image: url("./../assets/history2.webp");
    }
  }

  @media screen and (max-width: 1440px) {
    margin-top: 4rem;
  }
  @media screen and (max-width: 1200px) {
    .section-comics:first-of-type {
      margin-bottom: 3.25rem;
    }
    h2 {
      margin-bottom: 3rem;
    }
  }
}

section.location-contacts {
  width: 100%;
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
  display: grid;
  justify-items: center;
  font-size: var(--card-footer-font-size);

  .section-comics {
    width: 100%;
    gap:0;

    div {
      width: 100%;
    }

    .text-content {
      display: grid;
      justify-content: center;
      padding: 5.375rem var(--body-padding);

      .physical-location, .mail {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 2rem;
      }

      .icon {
        width: 2.825rem;
        height: 2.825rem;
        min-width: 20px;
        min-height: 20px;
        background-size: contain;
      }

      .icon.location {
        background-image: url("./../assets/location.png");
      }

      .icon.post {
        background-image: url("./../assets/post.png");
      }

      .working-hours-title {
        margin-block: 4.125rem;
      }
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
  @media screen and (min-width: 1960px) {
    .section-comics.location-contacts-wrapper {
      max-width: calc(var(--max-width) + 2 * var(--body-padding));

      .text-content {
        padding-right: calc(var(--body-padding) + 5.3115rem);
      }

      .map-content {
        margin-left: calc(-2 * 5.3125rem);
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .section-comics {
      flex-direction: column;
      padding: 0 5vw 5vw;

      .map-content {
        aspect-ratio: 2;
        iframe {
          border-radius: 2.25rem;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .section-comics .text-content {
      padding: 3.375rem 2rem;
    }
  }
}

section.person-contacts {
  padding-block: 4rem 2.875rem;
  width: 100%;
  display: grid;
  justify-items: center;

  .person-list {
    gap: 2rem;
    display: grid;

    li {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: flex-end;
      justify-items: center;

      a {
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  section.person-contacts .person-list li {
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);

    p {
      justify-self: center;
      text-align: center;
    }
  }
}

footer {
  background-color: var(--contrast-color);
  font-size: var(--footer-font-size);
  width: 100%;
  display: grid;
  justify-items: center;

  nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.25rem 10.875rem;
    padding-block: 4.875rem 4.125rem;
    list-style: none;
    li {
      cursor: pointer;
    }
  }

  .rights {
    padding-block: 1.5rem;
    font-size: var(--paragragh-font-size);
  }

  .divider {
    height: 1px;
    background-color: var(--secondary-background-color);
    width: min(1430px, 100%);
  }
  @media screen and (max-width: 550px) {
    nav {
      justify-self: auto;
      ul {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

