@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@400;600;700&display=swap');
@import "_header";
@import "_global-styles";
@import "_intro";

section.services {
  margin-top: 4.76rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-title-wrapper {
    max-width: var(--max-width);
    width: 100%;
  }

  .vehicles {
    max-width: var(--max-width);
    .section-body {
      margin-top: 1.5rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1.25rem;

      .card {
        display: flex;
        flex-direction: column;
        width: 25%;
        max-width: 25.9375rem;
        border-radius: 0.625rem;
        border: 2px solid #303030;
        background: rgba(217, 217, 217, 0.00);

        img {
          aspect-ratio: 1.24;
          object-fit: contain;
          object-position: center;
          width: 100%;
          overflow: hidden;
        }

        .card-footer {
          padding: 1rem 2.25rem 2.5rem;
          overflow: hidden;
          height: 11.625rem;
          font-size: var(--card-footer-font-size);
        }
      }
    }
  }
}

section.roads {
  padding: 8.125rem 0;
  max-width: var(--max-width);
  width: 100%;

  .section-body {
    width: 100%;
    gap: 1.25rem;
    display: flex;
    margin-top: 2.5rem;

    .card {
      width: 100%;
      border-radius: 0.625rem;
      border: 2px solid #303030;
      padding: 3.75rem 3.125rem 3.75rem 1.625rem;
      display: flex;
      gap: 1.875rem;


      .card-order {
        width: 3.125rem;
        height: 3.125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: auto 0;
        background-color: #F8E967;
        font: 400 var(--card-title-font-size) Montserrat, sans-serif;
      }
    }
  }
}

section.lab {
  background-color: #2d2c2c;
  padding-block: 3.875rem;
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--secondary-color);

  .section-body {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;

    .section-content {
      padding-block: 1.875rem;
      padding-right: var(--body-padding);
      width: 50vw;
      p {
        margin-top: 1.5rem;
        margin-bottom: 4.125rem;
      }
      li {
        margin-bottom: 2.375rem;
        display: flex;
        .li-counter {
          margin-right: 1.375rem;
        }
      }
      ol {
        list-style: none;
        margin-left: 2.25rem;
        padding: 0;
      }
    }

    .img-wrapper {
      margin-right: -100px;
      width: 50vw;
      max-width: 840px;
      display: flex;
      align-items: center;

      .img {
        aspect-ratio: 1.21;
        border-bottom-left-radius: 2.25rem;
        border-top-left-radius: 2.25rem;
      }
    }
  }
}

section.products {
  margin-top: 8.375rem;

  .section-body {
    margin-top: 1rem;
  }

  .card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    margin-top: 2.875rem;

    .card {
      width: 100%;
      border-radius: 1.5rem;
      padding-top: 1.625rem;
      border: 2px solid #2D2C2C;
      display: flex;
      flex-direction: column;
      align-items: center;

      .card-title {
        font-size: var(--card-title-font-size);
        font-weight: 600;
      }
      .card-subtitle {
        position: relative;
        top: 1.875rem;
        z-index: 1;
        background: #F8E967;
        padding: 0.625rem 1.625rem;
        border-radius: 7.5rem;
      }
    }
  }

  .product-info {
    margin-top: 6.875rem;
    display: flex;
    align-items: center;

    .upload-info-btn {
      width: 4.25rem;
      height: 4.25rem;
      margin-right: 2rem;
      background-image: url("./../assets/download.png");
      background-color: #F8E967;
      border-radius: 5px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

section.gallery {
  margin-top: 7.5rem;
  margin-bottom: 8.75rem;

  .gallery-wrapper {
    margin-top: 2.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .card {
      width: 100%;
    }
  }
}

section.accomplishments {
  background-color: #2d2c2c;
  padding-block: 5.625rem;
  display: flex;
  justify-content: center;
  max-width: 100%;
  color: var(--secondary-color);
  font-size: var(--card-title-font-size);

  .section-body {
    max-width: var(--max-width);
    width: 100%;

    .section-content {
      display: flex;
      justify-content: space-between;

      .left-part, .right-part {
        width: 100%;

        li {
          display: flex;
          align-items: center;
          margin-right: 1rem;
          margin-top: 5.5rem;
          height: 6.75rem;
        }

        li:first-child {
          margin-top: 0;
        }
      }

      .left-part li .icon {
        width: 83px;
        height: 100%;
      }
      .left-part li:first-child .icon {
        background-image: url("./../assets/padlock.svg");
      }
    }
  }
}

